*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
gemfiles/rails_main.gemfile.lock
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
Gemfile.lock
/bin
