name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  specs:
    name: Ruby ${{ matrix.ruby }} using ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
        gemfile:
          - rails7.1
          - rails7.2
          - rails8.0
        include:
          - {ruby: '3.2', gemfile: rails6.1}
          - {ruby: '3.2', gemfile: rails7.0}
          - {ruby: '3.3', gemfile: rails6.1}
          - {ruby: '3.3', gemfile: rails7.0}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rspec

  specs_successful:
    name: Specs passing?
    needs: specs
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.specs.result == 'success' }}
          then
            echo "All specs pass"
          else
            echo "Some specs failed"
            false
          fi
