name: Test against Rails main

on:
  pull_request:
  schedule:
    - cron: "0 0 * * *" # Run every day at 00:00 UTC
  workflow_dispatch:

jobs:
  specs:
    name: Test with Rails main
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/rails_main.gemfile
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - run: bundle exec rspec
